.content {
	padding: 80px 180px;
}

.header {
	text-align: left;
	color: #4D2D80;
	font-family: "Exo 2";
	font-style: normal;
	line-height: normal;
	letter-spacing: 1.62px;
}

h1 {
	font-size: 26px;
}

p {
	font-size: 14px;
	letter-spacing: 0.72px;
}

.loading {
	width: 200px;
	height: 200px;
	box-sizing: border-box;
	border-radius: 50%;
	border-top: 10px solid #e74c3c;
	animation: a1 5s linear infinite;
}

.loading::before, .loading:after {
	content: '';
	width: 200px;
	height: 200px;
	position: absolute;
	left: 0;
	top: -10px;
	box-sizing: border-box;
	border-radius: 50%;
}

.loading::before {
	border-top: 10px solid #F8BF70;
	transform: rotate(120deg);
}

.loading::after {
	border-top: 10px solid #3498db;
	transform: rotate(240deg);
}

.loading span {
	position: absolute;
	width: 200px;
	height: 200px;
	color: #fff;
	text-align: center;
	line-height: 200px;
	animation: a2 2s linear infinite;
}

@keyframes a1 {
	to {
		transform: rotate(360deg);
	}
}

@keyframes a2 {
	to {
		transform: rotate(-360deg);
	}
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}